// Import Google fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import "colors";

h1 {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 8em; // 128
  line-height: 0.9;
}

h2 {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 3.75em; // 60
}

h3 {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  font-size: 2.5em; // 40
}

h4 {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  font-size: 2em; // 32
}

h5 {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  font-size: 1.5em; // 24
}

p,
a {
  color: $gray;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 1.125em; // 18
  text-transform: uppercase;
}

.med {
  font-size: 0.875em; // 14
  text-transform: uppercase;
}

.med-bold {
  font-size: 0.875em; // 14
  text-transform: uppercase;
  font-weight: 500;
}

.sml {
  font-size: 0.625em; // 10
  text-transform: uppercase;
}
