#contact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  height: calc(100vh - 120px); /* prend toute la hauteur restante de l'écran */
  overflow: hidden; /* pour éviter tout débordement */

  #contact-presentation {
    grid-column: 1 / span 6; /* 6 premières colonnes */
    grid-row: 1;
    padding: 50px;
    z-index: 2; /* texte au-dessus de l'image */
    align-self: center; /* texte aligné en haut */
  }

  #contact-photo {
    grid-column: 5 / -1; /* colonnes 5 à 12 (8 dernières colonnes) */
    grid-row: 1;
    align-self: end; /* alignement bas */
    justify-self: end; /* alignement droit */
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end; /* image collée à droite */
    align-items: flex-end; /* image collée en bas */
  }

  #contact-photo img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain; /* Très important : ajuste sans cropper */
    object-position: bottom right; /* positionnée en bas à droite */
    display: block;
  }
}

.animated-hello {
  width: fit-content;
  border: solid $gray 1px;
  border-radius: 50px;
  display: flex;
  align-content: center;
  margin-bottom: 0.4em;

  h4 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 1.75em;
    margin-right: 1.75em;
  }
}

.quotation {
  font-family: "Roboto Flex";
  font-size: 8rem;
  font-style: normal;
  font-weight: 450;
  line-height: 6.625rem;
  width: 0.5em; /* Réduit l'espacement avec le texte */
  /* Facultatif pour réduire encore plus l'espace */
  // margin: 0 -0.2em;
}

.contact-hello {
  font-family: "Roboto Flex";
  font-size: 8rem;
  font-style: italic;
  font-weight: 900;
  line-height: 6.625rem;
  margin: 0 -0.2em;
  padding-right: 0.3em;
}
