.show-container {
  max-width: 100%;
  padding: 0;
  position: relative;
  height: calc(
    100vh - var(--header-height)
  ); /* prend toute la hauteur restante de l'écran */
  overflow: hidden; /* pour éviter tout débordement */
}

.show-item {
  margin: 3.125rem;
  height: -webkit-fill-available;
  overflow: hidden;
  position: relative;
}

.show-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;

  h1 {
    line-height: 0.75;
  }

  .show-description {
    p {
      text-align: right;
    }
  }

  .show-meta {
    text-align: left;
  }
}

.show-content {
  display: flex;
  flex-direction: row;
  height: 100%;

  h1 {
    line-height: 0.75;
  }

  .show-media {
    border: solid $gray 1px;
    width: 100%;

    .corner-symbol {
      //font
      text-align: center;
      font-family: "Roboto Flex";
      font-size: 1.5em;
      font-style: normal;
      font-weight: 100;
      line-height: normal;
      text-transform: uppercase;
      //position
      position: absolute;
      display: flex;
      width: 1.56rem;
      height: 1.56rem;
      justify-content: center;
      align-items: center;
    }

    .top-left {
      // top: 0;
      left: 0;
    }

    .top-right {
      top: 0;
      right: 0;
    }

    .bottom-left {
      bottom: 0;
      left: 0;
    }

    .bottom-right {
      bottom: 0;
      right: 0;
    }
  }

  .show-sidebar {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;

    .show-thumbnails {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 1fr; // Chaque ligne prend une hauteur égale
      gap: 1rem;

      .image-miniature {
        width: 100%;
        height: 100%;
        object-fit: cover; // si c'est une image, pour qu'elle remplisse bien
      }
    }

    .show-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
    }

    .show-nav {
      justify-self: center;
      align-self: center;
      a {
        margin-bottom: 0;
      }
    }
  }
}
