.show-container {
  max-width: 100%;
  padding: 0;
  position: relative;
  height: calc(
    100vh - var(--header-height)
  ); /* prend toute la hauteur restante de l'écran */
  overflow: hidden; /* pour éviter tout débordement */
}

.show-item {
  display: flex;
  flex-direction: column;
  margin: 3.125rem;
  height: -webkit-fill-available;
  overflow: hidden;
  position: relative;
  min-height: 0;
}

.show-title-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;

  .show-title {
    width: fit-content;

    h1 {
      line-height: 0.77;
    }
  }

  .show-client {
    margin-left: 10rem;
    text-align: left;
  }

  .show-description {
    margin-left: 4rem;
    p {
      text-align: right;
    }
  }
}

.show-buttons {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 3rem;

  #show-buttons--back {
    margin-bottom: 0;
    border: solid 1px $light-gray;
    width: 100%;
    justify-content: center;
  }

  .show-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;

    .btn--previous {
      border: none;
      margin: 0;
      padding: 0;
    }

    .btn--next {
      text-align: right;
      border: none;
      margin: 0;
      padding: 0;
    }

    .btn-placeholder {
      min-width: 1rem;
      visibility: hidden;
      opacity: 0.15;
    }
  }
}

.show-content {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  min-height: 0;

  h1 {
    line-height: 0.75;
  }

  .show-media {
    border: solid $light-gray 1px;
    width: 100%;
    height: 100%;
    position: relative;
    flex: 1 1 0; /* Utilise tout l'espace restant */
    min-height: 0; /* Autorise le contenu à shrinker sans casser la hauteur */
    align-content: center;

    img#main-image {
      width: 100%;
      height: 100%;
      object-fit: cover; // ou 'contain' si tu veux toujours tout afficher
      display: block;
    }

    h3 {
      justify-self: center;
    }
  }

  .show-sidebar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    height: 100%;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;

    .show-thumbnails {
      display: grid;
      grid-template-columns: repeat(2, 7.5rem);
      gap: 1rem;
      justify-content: start;

      .image-miniature {
        width: 100%;
        height: auto;
        aspect-ratio: 4 / 3;
        object-fit: cover;
        cursor: pointer;
        transition: border 0.3s ease;
        border: 1px solid transparent;
        margin: 0;
        border: 1px solid $light-gray;

        &.active {
          border: 3px solid $light-gray;
          position: relative;

          &::after {
            content: "+";
            position: absolute;
            top: 0.2rem;
            right: 0.3rem;
            font-size: 1rem;
            color: $light-gray;
          }
        }
      }
    }
  }
}

body.theme-dark {
  .show-container {
    background-color: $gray;

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    a {
      color: $light-gray;
    }
  }
}
