.show-container {
  max-width: 100%;
  padding: 0;
  position: relative;
  height: calc(100vh - 120px); /* prend toute la hauteur restante de l'écran */
  overflow: hidden; /* pour éviter tout débordement */
}

.gallery-back {
  grid-area: 7 / 1 / 8 / 5;
  margin-bottom: 0;

  a {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 1.75em;
    margin-right: 1.75em;
  }
}

.show-item {
  // margin-top: calc(50px + 5.25em);
  // margin-inline: 50px;
  // margin-bottom: 50px;
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 10px 10px;
  grid-auto-flow: row;
  position: relative;
  overflow: hidden; /* pour éviter tout débordement */
  justify-content: center; /* centre horizontalement */
  //align-items: center; /* centre verticalement */
  height: -webkit-fill-available;
}

.show-work {
  line-height: 1;
  grid-area: 1 / 1 / 4 / 8;
}

.show-number {
  line-height: 1;
  grid-area: 4 / 1 / 7 / 5;
}

.show-description {
  grid-area: 1 / 13 / 4 / -1;
  line-height: 1;

  p {
    text-align: right;
  }
}

.image-large {
  border: solid $gray 1px;
  grid-area: 4 / 5 / -1 / -1;
}

.image-miniatures {
  grid-area: 10 / 1 / -1 / 5;
}

.show-reference {
  grid-area: 1 / 9 / 4 / 13;
}

.show-buttons {
  grid-area: 8 / 1 / 10 / 5;
}
