.work-intro {
  max-width: 100%;
  padding: 0;
  position: relative;
  height: calc(
    100vh - var(--header-height)
  ); /* prend toute la hauteur restante de l'écran */
  overflow: hidden; /* pour éviter tout débordement */
}

.works-blur {
  margin: 3.125rem;
  border: solid $light-gray 1px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden; /* pour éviter tout débordement */
  justify-content: center; /* centre horizontalement */
  align-items: center; /* centre verticalement */
  height: -webkit-fill-available;
  background-position: center;
  background-size: cover;
}

.works-sharp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5.25rem;
  border: solid $light-gray 1px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden; /* pour éviter tout débordement */
  height: -webkit-fill-available;

  .go-line {
    display: none;
  }

  .work-carousel-title {
    padding-left: 0.625rem;
    padding-top: 0.625rem;
    text-align: left;
    line-height: 0.75;
  }

  .work-carousel-client {
    padding-right: 0.625rem;
    padding-bottom: 0.625rem;
    text-align: right;
    line-height: 1;
  }
}

.work-case {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 1.56rem;
  border-top: solid $light-gray 1px;
  padding-bottom: 3.125rem;

  .work-reference {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1 / span 2;
    margin-top: 1.56rem;
    margin-bottom: 1.56rem;
  }

  .work-description {
    grid-column: 5 / span 2;
    margin-top: 1.56rem;
    margin-bottom: 1.56rem;
    line-height: 1.2;
    padding-right: 1.56rem;
  }

  .work-image {
    grid-column: 7 / span 2;
    margin-top: 1.56rem;
    margin-bottom: 1.56rem;
    position: relative;
    width: 100%; /* largeur adaptable */
    overflow: hidden; /* optionnel, mais recommandé */
    align-content: center;
    justify-items: center;
    border: solid $light-gray 1px;
    aspect-ratio: 4 / 3;
    // padding-top: 56.25%; /* 16 / 9 = 0.5625 → ratio 4:3 */
    // padding-bottom: 56.25%; /* 16:9 - 56.25% | 4:3 - 75% | 3:2 - 66.66% | 8:5 - 62.5% */
  }

  .work-blur {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
  }

  .work-name {
    margin-bottom: 3.125rem;
    line-height: 0.95;

    h3 {
      display: inline-flex;
    }
  }

  .work-client {
    p {
      line-height: 1;
    }
  }
}

.work-list {
  margin-inline: 3.125rem;
  padding-left: 0;

  li {
    list-style-type: none;
    padding-left: 0;
  }
}

.roulette-window {
  display: inline-block;
  height: 1em;
  overflow: hidden;
  vertical-align: bottom;
  position: relative;
}
.roulette-roller {
  display: block;
  transition: transform 0.34s cubic-bezier(0.7, 0, 0.5, 1);
  will-change: transform;
}

.work-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* occupe 100% sans déformation */
  object-position: center center; /* centre l’image */
  display: block;
}

body.theme-dark {
  .work-wrapper {
    background-color: $gray;

    .work-case {
      border-top: solid $light-gray 1px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    a {
      color: $light-gray;
    }

    .work-carousel-client,
    .work-carousel-title,
    .corner-symbol {
      color: $light-gray;
      p {
        color: $light-gray;
      }
    }
  }
}
