.footer-container {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 3.125rem;
}

.skills-banner {
  height: 5.8125rem;
  overflow: hidden; /* pour éviter tout débordement */
  align-content: center;

  .skills-item {
    margin: 0;
    padding-right: 0.9rem;
    flex-shrink: 0;
    align-content: end;
  }
}

.skills-track {
  display: flex;
  white-space: nowrap;
  will-change: transform;
}

.back-to-top {
  height: 4rem;

  p {
    font-weight: 800;
  }
}

.sub-footer {
  display: grid;
  grid-column-gap: 1.25rem;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  align-items: end;

  h5 {
    padding-bottom: 1rem;
    margin: 0;
  }

  .year {
    text-align: left;
    padding-left: 3.125rem;
  }

  .author {
    text-align: right;
    padding-right: 3.125rem;
  }

  .social-footer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
  }

  .social-links {
    display: flex;
    grid-column: 2 / -2;
    justify-content: space-between;

    a {
      margin-top: 0.5rem;
      line-height: 0.9;
    }
  }
}

.mail-footer {
  padding-bottom: 1rem;
}

#btn--footer-to-contact {
  font-size: $font-size-xs;
  font-weight: $font-weight-max;
  margin: 0;
}

.roulette-switch {
  display: inline-block;
  position: relative;
  height: 2em;
  width: 9em;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  background: none;
  border: none;
  user-select: none;
}

.switch-face {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.42s cubic-bezier(0.7, 0, 0.5, 1), opacity 0.27s;
  will-change: transform, opacity;
  font-weight: bold;
  pointer-events: none; // évite de capturer le clic sur le texte
}

.switch-icon {
  transform: translateY(0);
  opacity: 1;
  font-size: $font-size-xs;
  vertical-align: middle;
}

.switch-text {
  transform: translateY(110%);
  opacity: 0;
  font-weight: 800;
  padding-top: 0.5rem;
}

/* Hover/focus: swap faces */
.roulette-switch:hover .switch-icon,
.roulette-switch.is-touched .switch-icon {
  transform: translateY(-110%);
  opacity: 0;
}
.roulette-switch:hover .switch-text,
.roulette-switch.is-touched .switch-text {
  transform: translateY(0);
  opacity: 1;
}

body.theme-light {
  .footer-container {
    background-color: $gray;

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    a {
      color: $light-gray;
    }
  }
}
