.header-container {
  margin: 3.125rem;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  position: relative;
  z-index: 1;
  height: 3rem;
  display: flex;
  border: solid $gray 1px;
  border-radius: 3.125rem;
  justify-content: space-around;
}

.navbar-button {
  position: relative;
  z-index: 1;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  font-weight: $font-weight-max;
  font-size: $font-size-xs;

  &.highlighted {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}

.highlight {
  position: absolute;
  z-index: 0;
  top: 0; // pour qu’elle colle en haut de .navbar
  left: 0;
  height: 100%; // prend toute la hauteur de .navbar
  width: 0;
  background-color: $gray;
  border-radius: 3.125rem;
  z-index: 0;
  transition: all 0.3s ease;
}

.logo-header {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 3rem;

  img {
    margin-right: 1.5rem;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
  }

  .logo-text {
    margin-bottom: 0;
    margin-left: 0.625rem;
  }
}
