<div id="contact">
  <div id="contact-presentation">
    <h1>WANT<br>TO SAY<br>
      <span class="quotation">“</span><span class="contact-hello">HELLO</span><span class="quotation">”</span>?</h1>
    <div class="animated-hello">
      <h4>IT'S RIGHT HERE!</h4>
    </div>
  </div>
  <div id= "contact-photo">
    <%= image_tag "muet2025.png", alt: "I'M MUTED THERE" %>
  </div>
</div>
