<% content_for :page_theme, "theme-light" %>
<div class="contact-wrapper">
  <div class="contact-presentation">
    <h1>WANT<br>TO SAY<br>
      <span class="quotation">“</span><span class="contact-hello">HELLO</span><span class="quotation">”</span>?</h1>
    <div class="btn btn--primary btn--to-contact btn-clickable">
      <a href="mailto:contact.heynen@gmail.com" class="btn-text" id="btn--to-contact" data-text="IT'S RIGHT HERE!">IT'S RIGHT HERE!</a>
    </div>
  </div>
  <div class= "contact-photo parallax-container">
    <%= image_tag "muet2025.png", alt: "I'M MUTED THERE", class: "parallax-image" %>
  </div>
</div>
