<div id="welcome">
  <div>
    <h3>HEY, I'M MATHIEU</h3>
    <h1>DIGITAL DESIGNER</h1>
    <p>50°50'47.8"N - 4°21'09.4"E</p>
  </div>
  <div>
    <img src="../../assets/images/aveugle.png" alt="I'M BLIND THERE">
  </div>
</div>
<div id="about">
  <div id="journey">
    <p>JOURNEY</p>
    <h1>
      Passionate about drawing and design, I’ve always been fascinated by the power of visuals to tell stories and create emotions. Yet, my path hasn’t been straight—I stepped away from the creative field for several years to explore a healthcare career. But no matter how far I went, my passion for design never faded. It pulled me back, stronger than ever, leading me to digital design and the world of development. Today, I channel this unique journey into creating thoughtful, immersive digital experiences where art and technology unite.
    </h1>
  </div>
  <div id="skills">
    <p>SKILLS</p>
    <h1>hand drawing, illustrations, visual identity, photoshop, illustrator, indesign, after effect, figma, management, ... </h1>
  </div>
  <div id="languages">
    <p>LANGUAGES</p>
    <h1>javascript, ruby, ruby on rails, react</h1>
    <h4>“still learning”</h4>
  </div>
</div>
