<div id="welcome">
  <div id="welcome-presentation">
    <div class="animated-hello">
      <h4>HEY, I'M MATHIEU!</h4>
    </div>
    <h1>DIGITAL<br>DESIGNER</h1>
    <a href="https://www.google.be/maps/place/50%C2%B050'47.8%22N+4%C2%B021'09.4%22E/@50.8466111,4.3500362,17z/data=!3m1!4b1!4m4!3m3!8m2!3d50.8466111!4d4.3526111?entry=ttu&g_ep=EgoyMDI1MDMxOS4yIKXMDSoASAFQAw%3D%3D" target="_blank" alt="BRUXELLES MA BELLE" class="med">50°50'47.8"N - 4°21'09.4"E</a>
  </div>
  <div id= "welcome-photo">
    <%= image_tag "aveugle2025.png", alt: "I'M BLIND THERE" %>
  </div>
</div>
<div class="container">
  <div id="about">
    <div class="corner-symbol top-left">
      <p>+</p>
    </div>
    <div class="corner-symbol top-right">
      <p>+</p>
    </div>
    <div class="corner-symbol bottom-left">
      <p>+</p>
    </div>
    <div class="corner-symbol bottom-right">
      <p>+</p>
    </div>
    <div id="journey">
      <p class="med">JOURNEY</p>
      <h3>
        Passionate about drawing and design, I’ve always been fascinated by the power of visuals to tell stories and create emotions. Yet, my path hasn’t been straight—I stepped away from the creative field for several years to explore a healthcare career. But no matter how far I went, my passion for design never faded. It pulled me back, stronger than ever, leading me to digital design and the world of development. Today, I channel this unique journey into creating thoughtful, immersive digital experiences where art and technology unite.
      </h3>
    </div>
    <div id="skills">
      <p class="med">SKILLS</p>
      <h3>hand drawing, illustrations, visual identity, photoshop, illustrator, indesign, after effect, figma, management, ... </h3>
    </div>
    <div id="languages">
      <p class="med">LANGUAGES</p>
      <h3>javascript, ruby, ruby on rails, react</h3>
      <p class="med-bold">“still learning”</p>
    </div>
  </div>
</div>
