<div class="container-hello">
  <div class="hello-presentation">
    <div class="hello-badge btn btn--primary">
      HEY, I'M MATHIEU!
    </div>

    <h1>DIGITAL<br>DESIGNER</h1>

    <a
      href="https://www.google.be/maps/place/50%C2%B050'47.8%22N+4%C2%B021'09.4%22E"
      target="_blank"
      class="hello-location med"
    >
      50°50'47.8"N - 4°21'09.4"E
    </a>
  </div>

  <div class="hello-photo">
    <%= image_tag "aveugle2025.png", alt: "I'M BLIND THERE" %>
  </div>
</div>

<div class="container-about">
  <div class="about-box">
    <div class="corner-symbol top-left"><p>+</p></div>
    <div class="corner-symbol top-right"><p>+</p></div>
    <div class="corner-symbol bottom-left"><p>+</p></div>
    <div class="corner-symbol bottom-right"><p>+</p></div>

    <div id="journey">
      <p class="med">JOURNEY</p>
      <h3>
        Passionate about drawing and design, I’ve always been fascinated by the power of visuals to tell stories and create emotions. Yet, my path hasn’t been straight—I stepped away from the creative field for several years to explore a healthcare career. But no matter how far I went, my passion for design never faded. It pulled me back, stronger than ever, leading me to digital design and the world of development. Today, I channel this unique journey into creating thoughtful, immersive digital experiences where art and technology unite.
      </h3>
    </div>

    <div id="skills">
      <p class="med">SKILLS</p>
      <h3>hand drawing, illustrations, visual identity, photoshop, illustrator, indesign, after effect, figma, management, ... </h3>
    </div>

    <div id="languages">
      <p class="med">LANGUAGES</p>
      <h3>javascript, ruby, ruby on rails, react</h3>
      <p class="med-bold">“still learning”</p>
    </div>
  </div>
</div>
