// Config
@import "utils/reset";
@import "utils/variables";
@import "utils/mixins";

// ===================================
// 1. Global elements (typography, buttons, layout)
// ===================================
// @media (max-width: 1024px) and (min-width: 768px) {
//   html {
//     font-size: 95% !important; // = réduction de 5%
//   }
// }

// @media (max-width: 768px) and (min-width: 480px) {
//   html {
//     font-size: 90% !important; // = réduction de 10%
//   }
// }

// ===================================
// 2. Header / Navbar
// ===================================
@media (max-width: 480px) {
  .header-container {
    position: relative;
    margin: 1.4rem;
    z-index: 999;
  }

  .logo-header {
    width: 25%;
    height: 25%;

    img {
      margin: 0;
    }

    .logo-text {
      display: none;
    }
  }

  /* --- Burger button --- */

  .burger {
    position: relative;
    display: flex;
    z-index: 999;
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // background-color: $light-gray; // ou une couleur + opacité de ton choix
    z-index: 998; // juste sous le header
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .menu-overlay.active {
    opacity: 1;
    pointer-events: auto;
  }

  .navbar {
    position: fixed;
    border: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center; // ← pour centrage vertical
    flex-direction: column;
    display: none;
    z-index: 999;
    padding-inline: 1.4rem;
  }

  .navbar.open {
    display: flex;
    opacity: 1;
    pointer-events: auto;
    background: none;
  }

  .navbar-button {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    padding: 0.6rem;
    text-align: center;
    border: solid $gray 1px;
    border-radius: 3.125rem;

    &.highlighted {
      filter: invert(0%);
      color: $light-gray;
      background: $gray;
      border: solid $gray 1px;
    }
  }

  .highlight {
    display: none; // cacher l'effet curseur en mobile
  }

  .no-scroll {
    overflow: hidden;
  }
}

// ===================================
// 3. Home Page
// ===================================
@media (max-width: 480px) {
  .container-hello {
    flex-direction: column;

    .hello-presentation {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 50%;
      align-self: baseline;

      h1 {
        font-size: $font-size-lg;
      }

      .hello-badge {
        margin-bottom: 1.4rem;
        padding: 0;
        align-self: center;
        background-color: $gray;

        .btn-text {
          margin-inline: 1.3rem;
          -webkit-text-fill-color: $light-gray;
          line-height: 3;
        }

        #btn-hey {
          font-size: $font-size-base;
        }
      }

      .hello-location {
        margin-top: 1.4rem;
        display: inline-block;
        font-size: medium;
      }
    }

    .hello-photo {
      justify-content: center;
      grid-column: 1 / -1;
      justify-self: center;
      overflow: hidden;

      .parallax-image {
        max-width: none;
        max-height: none;
        height: auto;
        width: 140%;
      }
    }
  }

  .about-box {
    margin: 0;
    padding: 1.4rem;
  }

  #journey,
  #skills,
  #languages {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;

    h3 {
      font-size: $font-size-base;
    }

    .med {
      margin-bottom: 1rem;
    }

    .med-bold {
      margin-top: 1rem;
    }
  }
}

// ===================================
// 4. Show Page
// ===================================
@media (max-width: 480px) {
  .show-container,
  .show-title,
  .show-content,
  .show-item {
    display: flex;
    flex-direction: column;
  }

  .show-title {
    h1 {
      font-size: $font-size-lg;
    }
  }

  .show-item {
    margin-inline: 1.4rem;
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
  }

  .show-description {
    p {
      font-size: $font-size-sml;
    }
  }

  .show-sidebar {
    display: flex;
    flex-direction: column;
  }

  .show-thumbnails {
    display: flex;
    flex-direction: column;
  }
}

// ===================================
// 5. Works Page
// ===================================
@media (max-width: 480px) {
  .work-intro {
    margin-bottom: 2rem;

    .works-blur {
      border: 1px solid $gray;
      margin: 0;
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;

      .works-sharp {
        margin: 1.4rem;
        flex-direction: column;
        align-items: flex-start;

        .work-carousel-title {
          font-size: $font-size-lg;
        }
        .work-carousel-client {
          align-self: end;
          font-size: $font-size-sml;
        }
      }
    }
  }

  .work-list {
    margin-inline: 1.4rem;
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;

    .work-list-clientLabel {
      margin-bottom: 0.1rem;
    }

    li {
      margin-bottom: 2.8rem;
    }

    .work-case {
      display: flex;
      flex-direction: column;
      gap: 2.8rem;

      .work-reference {
        display: flex;
        flex-direction: row;
        margin: 0.7rem 0 0 0;

        .work-client {
          text-align: right;
        }

        .work-name h3 {
          font-size: $font-size-xs;
        }
      }

      .work-description {
        display: none;
        font-size: $font-size-med;
      }

      .work-image {
        margin: 0;
      }

      .work-image h4 {
        font-size: $font-size-base;
      }
    }
  }
}

// ===================================
// 6. Contact Page
// ===================================
@media (max-width: 480px) {
  .contact-wrapper {
    flex-direction: column;

    .contact-presentation {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 50%;
      align-self: baseline;

      h1 {
        font-size: $font-size-lg;

        .quotation {
          font-size: $font-size-lg;
        }

        .contact-hello {
          font-size: $font-size-lg;
          margin-left: -0.5rem;
          padding-right: 0.6rem;
        }
      }

      span {
        line-height: 0;
      }

      .btn--to-contact {
        margin-bottom: 1.4rem;
        padding: 0;
        align-self: center;
        background-color: $gray;

        .btn-text {
          font-size: $font-size-base;
          padding-inline: 1.3rem;
          line-height: 3;
          -webkit-text-fill-color: $light-gray;
        }
      }
    }

    .contact-photo {
      justify-content: center;
      grid-column: 1 / -1;
      justify-self: center;
      overflow: hidden;

      .parallax-image {
        max-width: none;
        max-height: none;
        height: auto;
        width: 140%;
      }
    }

    .med {
      font-size: medium;
    }

    .med-bold {
      padding-top: 1rem;
      font-size: $font-size-med;
    }
  }
}

// ===================================
// 7. Footer
// ===================================
@media (max-width: 480px) {
  .footer-container {
    text-align: center;

    .back-to-top {
      margin: 0;
    }

    .sub-footer {
      display: flex;
      flex-direction: column;

      .mail-footer h5 {
        font-size: $font-size-med;
      }

      .social-links {
        gap: 1rem;

        a {
          font-size: $font-size-med;
        }
      }

      .year {
        display: none;
      }
      .author {
        margin-bottom: 0.8rem;
        align-self: center;
        font-size: 5%;
        padding: 0;

        p {
          text-align: center;
        }
      }
    }

    .skills-banner {
      height: 3rem;

      h4 {
        font-size: $font-size-base;
      }
    }
  }
}
